body{
	margin: 0;
	padding: 0;
	background-image: url(../image/beijing.gif);
}
td{
 	font-size: 12px;
 	line-height: 150%;
 	text-decoration: none;
 	color: #333333;
}
#wrap{
	margin-left: auto;
	margin-right: auto;
	width: 710px;
	text-align: center;  
}
#head_table{
	margin-top: 10px;
	margin-left: 10px;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	background-color: #FFF;
	width: 710px;
	border-spacing: 0;
}
#main_site{
	width: 220px;
}
#choice{
	text-align: right;
	vertical-align: bottom;
}
#choice a,#choice a:visited{
	text-decoration: none;
	color: #ff0099;
}
#space{
	width: 20px;     /*通过右边列加宽度来设置距离*/
}

#body_table{
	margin-left: 10px;
	width: 710px;
	background-color: #FFF;
}
.color_red{
	color: #F00;
}
.color_blue{
	color: #003399;
}
.color_gray{
	background-color: #EEE;
	height: 24px;
}
.title_info{
	font-size: 18px;
	font-weight: bold;
}
.solid_width{
	width: 496px;
}
#body_info{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border: 0;
	border-spacing: 2;
	padding: 1px;
	background-color: #FFF;
	border:1px solid #ccc;
	text-align: left;
	border-collapse: collapse;
	margin-top: 2px;
}
#body_info tr td{
	border: 1px solid #ccc;
}
.p13{
	font-size: 13px;
	float: left;
}
#can_teach tr td{
	border: 0;
}
.textarea{
	width: 300px;
	height: 80px;
}
#advice_info{
	text-align: center;
}
.right{
	text-align: right;
}

/*底部的表格*/
#foot_table{
	margin-left: 10px;
	width: 710px;
	border-bottom-right-radius: 28px;   /*底部的左边圆角*/
	border-bottom-left-radius: 28px;    /*底部的右边圆角*/
	background-color: #FFF;
}
#othercolor{
	color: #666666;
}
#bottom{
	height: 28px;
}